@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&family=Open+Sans:ital,wght@0,300;0,700;1,400&family=Poppins:wght@300;400;500;600&family=Titillium+Web:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.1rem;
    font-family: 'Nunito', sans-serif;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    list-style: none;
}

a{
  color: #666;   
}

section{
    padding: 2rem 9%;
}

.headLine {
	font-size: 2.1rem;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	padding-bottom: 50px;
    padding-top: 30px;
    color: #333;
}

.cor{
    color: #b45406;
}

.btn{
	display: inline-block;
	padding: 10px 40px;
	margin-top: 10px;
	text-transform: uppercase;
	background: transparent;
	color: #eee;
    border: 2px solid black;
	transition: background 500ms ease;
}

.btn:hover{
	cursor: pointer;
	background: rgb(189, 100, 41);
	color: #fff;
    border: 2px solid rgb(189, 100, 41);
}

.home .h3{
    font-size: 1rem;
    padding-top: 3rem;
    padding-bottom: .5rem;
    color: #b45406;
}

.home .p{
    font-size: .8rem;
}

.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#head{
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    background: rgba(189, 100, 41, .3);
    z-index: 99;
}

.pesquisa{

}

#menu{
    display: flex;
    gap: .5rem;
 }
 
 #menu a{
     display: block;
     padding: .5rem;
     color: #fff;
 }

 #btn-mobile{
    display: none;
}

#logo{
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

#logo img{
    height: 50px;
}

.pesquisa{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
    padding: .6rem;
    background-color: #b45406;
    border-radius: 2.5rem;
}

.pesquisa .pesquisa-text{
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: #eee;
    font-size: 1rem;
    line-height: 2.5rem;
    width: 0;
}

.pesquisa .pesquisa-btn{
    display: flex;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    align-items: center;
   /* padding: .6rem;*/
    background-color: #b45406;
}

.pesquisa .pesquisa-btn img{
   /*filter: opacity(0.3) drop-shadow(0 0 0 white);*/
   filter: sepia(100%);
}

.pesquisa:hover > .pesquisa-text{
    width: 15rem;
}

#header{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    align-content: center;
    background: url('../images/fundos/fundo3.jpg') no-repeat center center/cover;
    background-size: 100%;
    background-color: rgba(0,0,0,.3);
    background-blend-mode: color;
    padding-top: 8%;
    font-size: 1.5rem;
    color: #fff;
    text-shadow: #111 1px 1px 1px;
}


#header-container{
	text-align: center;
}

#header-container h2{
	font-size: 2.5rem;
}

#header-container p{
	font-size: 1.2rem;
	padding: .5rem 0;
}

/** Detalhes do Produto**/
.Detalhe{
    display: flex;
    gap: 1rem; 
    min-height: 100vh;
    align-items: center;
    /*background: url('../images/Produtos/bolo1.jpg') no-repeat;*/
    background-size: cover;
    background-position: center;
}

.Detalhe .item-texto{
    flex: 1 1 15rem;
    padding-top: 3rem;
}

.Detalhe .item-img{
    flex: 1 1 15rem;
}


.Detalhe .item-img img{
    width: 100%;
    padding: 1rem;
    animation: float 4s infinite;
}

.Detalhe .item-texto h3{
    font-size: 2rem;
    columns: #333;
    padding: 1rem;
}

.Detalhe .item-texto p{
    font-size: 1rem;
    columns: #666;
    padding: 1rem;
}

.btn-item{
    display: inline-block;
    padding: .3rem 1rem;
    border: .2rem solid #b45406;
    cursor: pointer;
    border-radius: .3rem;
    font-size: 1.2rem;
    position: relative;
    overflow: hidden;
    z-index: 0;
    margin: 1rem;
    color: #b45406;
}

.btn-item:hover{
    background-color: #b45406;
    color: #fff;
}


/** As atividades corrente**/
#atividade .container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

#atividade .container .item{
    text-align: center;
    padding: 2rem;
    border:.2rem solid #eee;
    flex: 1 1 15rem;
}

#atividade .container .item i{
    font-size: 5rem;
    border: .2rem solid #fff;
    padding: 1.5rem;
    border-radius: 50%;
    margin-top: -20rem;
    object-fit: cover;
    color: #333;
}

#atividade .container .item h3{
    font-size: 2rem;
    color: #b45406;
    padding: .5rem 0;
}

#atividade .container .item p{
    color: #444;
}

.btn-item .bt{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

/** Lista de todos os pães **/

#produtos .products{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

#produtos .products .item{
    flex: 1 1 20rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

#produtos .products .item .imagem{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: -100%;
    left: 0;
}

#produtos .products .item .content{
    text-align: center;
    background: #fff;
    padding: 1rem;
}

#produtos .products .item .content img{
    margin: 1.5rem 0;
}

#produtos .products .item .content h3{
    font-size: 2rem;
    color: #333;
}

#produtos .products .item .content p{
    font-size: 1rem;
    color: #666;
    padding: 1rem 0;
}

#produtos .products .item:hover .imagem{
    top: 0;
}

#produtos .products .item:hover .content{
    transform: translateY(100%);
}

/** Fim Produtos**/

/** Inicio Lista de serviços*/
main.cards{
    display: flex;
    padding: 32px;
}

main.cards section.card { 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #ffff;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    max-height: auto;
    margin-left: 32px;
}

main.cards section.card:first-child{
    margin-left: 0;
}

main.cards section.card .icon{
    width: 60px;
    height: 60px;
    border: 1px solid #ccc;
    border-radius: 50%;
}

main.cards section.card i{
    font-size: 2rem;
    padding: 15px;
}

main.cards section.card h3{
    margin: 16px 0;
    font-size: 100%;
}

main.cards section.card span{
    font-weight: 300;
    font-size: 80%;
    margin-bottom: 16px;
}

main.cards section.card button {
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 30px;
    border: 0;
    cursor: pointer;
    font-size: 80%;
    font-weight: 500;
    color: #fff;
    background-color: #dd6706;
}

/** Fim Serviços**/

/** Lista de compras para produtos**/
#compra .container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

#compra .container .item{
    flex: 1 1 30rem;
    padding: 1rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    background: #fff;
    border:.1rem solid rgba(0,0,0,.3);
    border-radius: .5rem;
    text-align: center;
    position: relative;
}

#compra .container .item img{
    height: 25rem;
    object-fit: cover;
    width: 100%;
}

#compra .container .item .preco{
    position: absolute;
    top: 3rem;
    left: 3rem;
    background-color: #f37a17;
    color: #fff;
    font-size: 1.5rem;
    padding: .5rem 1rem;
    border-radius: .5rem;
}

#compra .container .item h3{
    color: #333;
    font-size: 2rem;
    padding-top: 1rem;
}

#compra .container .item .ponto i{
    color: rgb(231, 197, 2);
    font-size: 1rem;
    padding: 1rem .1rem;
    margin: auto;

}

/** Contato **/
.contact{
    width: 100%;
    height: 100%;
}

.contact form{
    max-width: 400px;
    width: 90%;
    margin: 17vh auto 10% auto;
    border: .1rem solid rgba(0,0,0,.1);
    box-shadow: 0 .8rem 1rem rgba(0,0,0,.1);   
}

.contact label{
    display: block;
    padding: 20px;
}

.contact input, .contact textarea{
    width: 100%;
    padding: 10px;
    outline: none;
    resize: none;
    border: none;
    border-bottom: 1px solid rgb(185, 184, 184);
}

.contact input[type="text"]:focus, .contact textarea:focus{
    border-bottom: 1px solid rgb(255, 81, 0);
}

.contact textarea::-webkit-scrollbar{
    width: 4px;
}

.contact textarea::-webkit-scrollbar-thumb{
    background-color: rgb(255, 81, 0);
}

.btn-center{
    text-align: center;
}

.btn-center input[type="submit"]{
    margin-top: 30px;
    width: 90%;
    max-width: 200px;
    background: #b45406;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
    border-radius: 3px;
    margin-bottom: 30px;
}

.erro{
    color: red;
}

.sucesso{
    color: #28a745;
}

footer{
    display: flex;
    flex-direction: column;
    background-color: rgb(238, 235, 234);
}

.foot-container{
    display: flex;
    justify-content: center;
    color: rgb(94, 92, 92);
}

.foot-container .item-foot{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
    padding: 1rem;
    margin: 10px;
    height: 300px;
    width: 200px; 
    font-size: .5rem;   
}

.foot-container .item-foot h5{
    font-size: .8rem;
    text-transform: uppercase;
    margin: 20px 0 20px;
    font-weight: bold;
}

.foot-container .item-foot p, .foot-container .item-foot li{
    font-size: .8rem;
}

.foot-container .item-foot i{
    font-size: .8rem;
    margin-right: 10px;
}

.foot-mini{
    width: 100%;
    background-color: #221b16;
    text-align: center;
    height: 50px;
    color: rgb(236, 231, 231);
    padding-top: 10px;
    font-size: .8rem;    
}

.products img{
    width: 300px;
    height: 300px;
}

@media (max-width: 660px){
    #head{
        background: rgb(189, 100, 41);  
    }

    #logo{
        font-size: 1rem;
    }
    .pesquisa:hover > .pesquisa-text{
        width: 10rem;
    }
    #menu{
       display: block;
       position: absolute;
       width: 100%;
       top: 70px;
       right: 0px;
       background: rgb(189, 100, 41);
       transition: .6s;
       z-index: 1000;
       height: 0;
       visibility: hidden;
       overflow-y: hidden;
    }

    #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }

    #menu a{
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, .05);
    }

    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
    }

    #hamburguer{
        display: block;
        border-top: 2px solid;
        width: 20px;
    }
   
    #hamburguer::after, #hamburguer::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
    }
    
    #nav.active #hamburguer{
        border-top-color: transparent;
    }

    #nav.active #hamburguer::after{
       transform: rotate(-135deg);
       position: relative;
       top: -7px;
    }
    
    #nav.active #hamburguer::before{
       transform: rotate(135deg);
    }    
}

/** Media das Cards */
@media(max-width: 720px){

    main.cards{
        flex-direction: column;
    }

    main.cards section.card{
        margin-left: 0;
        margin-bottom: 32px;
    }
  
    main.cards section.card:last-child{
        margin-bottom: 0;
    }    
}

@media(max-width: 720px){
    .foot-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }    
}

@media(max-width: 720px){
    .Detalhe{
        display: flex;
        flex-direction: column;
    }
}


/** Animação do bolo */
@keyframes float{
    0%, 100%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(3rem);
    }
}